<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsKYlHU31AjYznM9IToLb-AXWnkSX_Aqo</string>
	<key>GCM_SENDER_ID</key>
	<string>496799233166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harvester_ai</string>
	<key>PROJECT_ID</key>
	<string>mimi-53a26</string>
	<key>STORAGE_BUCKET</key>
	<string>mimi-53a26.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:496799233166:ios:e2b9dd9084ee43e49505df</string>
</dict>
</plist>
